.leftbar {
    float:left;
    width:30%;
}

.rightbar {
    float:right;
    width:65%;
    background-color:#FFFFFF;
}

.app-fluid {
  padding: 45px 20px 0;
  zoom: 1;
  margin-bottom: 18px;
}
.app-fluid:before, .app-fluid:after {
  display: table;
  content: "";
}
.app-fluid:after {
  clear: both;
}
.app-fluid .leftbar {
  float: left;
  width: 30%;
}
.app-fluid .rightbar {
  float: right;
  width: 70%;
}

#sourcecode {
  position: absolute;
  width: 365px;
  height: 450px;
}

textarea {
  width: 97%;
  height: 98%;
}

